<div class="page-header d-flex align-items-center justify-content-center text-center">
  <div class="container position-relative">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8">
        <h1>DJ Asfi: Bridging Cultures, Electrifying New York City</h1>
        <p>
          Embark on a sonic journey with DJ Asfi, where progressive house, melodic techno, and the vibrant sounds of Berlin converge.
        </p>
        <a class="cta-btn" routerLink="/contact">Book Now</a>
      </div>
    </div>
  </div>
</div><!-- End Page Header -->

<section id="about" class="about">
  <div class="container">
    <div class="row gy-4 align-items-center justify-content-center">
      <div class="col-lg-8 d-flex flex-column align-items-center text-center content">
        <h2>DJ Asfi: Bridging Cultures, Electrifying New York City</h2>
        <div class="content-text py-3">
          <p>
            Based in the heart of New York City, DJ Asfi is a sonic architect whose music transcends boundaries. With a rich heritage from Islamabad and refined artistry from Duke University, Asfi blends the intricate rhythms of the East with the pulsating beats of Western electronic music, creating a soundscape that is both exotic and electrifying.
          </p>
          <p>
            Asfi's journey is one of constant innovation and inclusivity. Collaborating with industry luminaries, he crafts immersive experiences that resonate with diverse audiences, making waves in the dynamic NYC music scene. His compositions are a testament to the power of music to bridge cultures and bring people together.
          </p>
          <p>
            Whether it's a high-energy night at your favorite club or an intimate rooftop party, DJ Asfi's performances are designed to captivate and inspire. Join him as he explores the uncharted territories of sound, where tradition meets modernity, and every beat tells a story. Let's create unforgettable moments on the dance floor.
          </p>
        </div>
        <a class="cta-btn mt-3" routerLink="/contact">Book Now</a>
      </div>
      <div class="col-lg-10">
        <div class="main-image-gallery">
          <img src="assets/img/IMG_7687.jpg" alt="Main Image 1" class="img-fluid main-image">
          <img src="assets/img/IMG_5006.jpg" alt="Main Image 2" class="img-fluid main-image">
        </div>
        <div class="image-gallery">
          <img src="assets/img/E1E81C36-7F08-45A9-B237-20152003F659.jpg" alt="Asfi Performing" class="img-fluid">
          <img src="assets/img/61391b5d-e457-4c20-af98-49a3fd3e3075.jpg" alt="Asfi Performing" class="img-fluid">
          <img src="assets/img/IMG_7667.jpg" alt="Asfi Performing" class="img-fluid">
          <img src="assets/img/IMG_7673.jpg" alt="Asfi Performing" class="img-fluid">
          <img src="assets/img/IMG_4985.jpg" alt="Crowd Dancing" class="img-fluid">
          <img src="assets/img/IMG_4986 2.jpg" alt="Asfi Performing" class="img-fluid">
          <img src="assets/img/IMG_4987.jpg" alt="Asfi in Studio" class="img-fluid">
          <img src="assets/img/IMG_4988.jpg" alt="Crowd Dancing" class="img-fluid">
          <img src="assets/img/IMG_4989.jpg" alt="Asfi Performing" class="img-fluid">
          <img src="assets/img/IMG_4990.jpg" alt="Asfi in Studio" class="img-fluid">
          <img src="assets/img/IMG_4991.jpg" alt="Crowd Dancing" class="img-fluid">
          <img src="assets/img/IMG_5002.jpg" alt="Asfi Performing" class="img-fluid">
          <img src="assets/img/IMG_5003.jpg" alt="Crowd Dancing" class="img-fluid">
          <img src="assets/img/IMG_5004.jpg" alt="Asfi Performing" class="img-fluid">
          <img src="assets/img/IMG_5005 2.jpg" alt="Asfi Performing" class="img-fluid">
          <img src="assets/img/IMG_5005.jpg" alt="Asfi Performing" class="img-fluid">
          <img src="assets/img/IMG_5007.jpg" alt="Asfi Performing" class="img-fluid">
          <img src="assets/img/IMG_5012.jpg" alt="Asfi Performing" class="img-fluid">
          <img src="assets/img/IMG_5013.jpg" alt="Asfi Performing" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section><!-- End About Section -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>
