


<nav class="navbar">
  <ul>
    <li>
      <a routerLink="/home" >Home</a>
    </li>
    <li>
      <a routerLink="/about">About</a>
    </li>
    <li>
      <a routerLink="/contact">Contact</a>
    </li>
    <li class="dropdown">
      <a>
        <span>Mixes</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
      </a>
      <ul>
        <li>
          <a routerLink="/mixes/youtube">Video</a>
        </li>
        <li>
          <a routerLink="/mixes/soundcloud">Audio</a>
        </li>
        <!-- Add more categories as necessary -->
      </ul>
    </li>
    <li class="dropdown">
      <a>
        <span>Social Media</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
      </a>
      <ul>
        <li>
          <a aria-label="Asfadyar on YouTube" target="_blank" rel="noopener" href="https://www.youtube.com/@AsfiUnplugged" title="YouTube">
            YouTube
          </a>
        </li>
        <li>
          <a aria-label="Asfadyar on Instagram" target="_blank" rel="noopener" href="https://www.instagram.com/asfadyar_ofc/?igshid=MTIyMzRjYmRlZg%3D%3D" title="Instagram">
            Instagram
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
